@*Главный шаблон веб приложения*@
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Club</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>

<body>
<header>
    <div class="all_header">
        <div class="logo">
            <h1>logo</h1>
        </div>
        <div class="top_menu">
            <ul>
                <li> <a href="#">Home</a> </li>
                <li> <a href="#">Home</a> </li>
                <li> <a href="#">Home</a> </li>
                <li> <a href="#">Home</a> </li>
            </ul>
        </div>
    </div>
</header>


<div class="parallax">
    <h1>
        This is parallax
    </h1>
    <div class="mask"></div>
</div>

@RenderBody()

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/script.js"></script>
</body>
</html>