@*Главный шаблон веб приложения*@
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>The White Horse</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>

<body>
<header>
    <div class="all_header">
        <div class="logo">
            <img src="/img/horse_logo.png">
        </div>
        <div class="top_menu">
            <ul>
                <li> <a href="#">Главная</a> </li>
                <li> <a href="#">Бронь</a> </li>
                <li> <a href="#">Меню</a> </li>
                <li> <a href="#">Вход</a> </li>
                <li> <a href="#">Регистрация</a> </li>
            </ul>
        </div>
    </div>  
</header>

<section>
    <div class="parallax">
        <h1>
            The White Horse
        </h1>
        <div class="mask"></div>
    </div>
</section>

<section>
    <div class="zone">
        <div class="inner">
            <div class="z v">
                <img src="/img/z1.png">
                <strong>VIP<br> зона</strong>
                <p>1 стол для бильярда в отдельной зоне - вашей игре ничего не сможет помешать!</p>
            </div>
            <div class="z p">
                <img src="/img/z2.png">
                <strong>зал для<br> профи</strong>
                <p>Отдельный зал для игроков с опытом где расположены 4 стола для русского бильярда</p>
            </div>
            <div class="z k">
                <img src="/img/z3.png">
                <strong>разнообразная<br> кухня</strong>
                <p>Русская, Европейская и Кавказская кухня, а так же в ассортименте напитки, пиво и закуски</p>
            </div>
            <div class="z a">
                <img src="/img/z4.png">
                <strong>пробковый<br> сбор</strong>
                <p>Вы можете посетить клуб со своим крепким алкоголем при наличии чека на купленный алкоголь</p>
            </div>
        </div>
    </div>
</section>





@RenderBody()

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/script.js"></script>
</body>
</html>