@*Главный шаблон веб приложения*@
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>The White Horse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">

    <script src="~/js/MenuScript.js"></script>
</head>

<body>
<header>
    <div class="all_header">
        <div class="logo">
            <img src="/img/horse_logo.png">
        </div>
        <div class="top_menu" id="top_menu">
            <ul>
                <li> <a asp-controller="Home" asp-action="Main"> <span class="menu__link"> Главная </span> </a> </li>
                <li> <a asp-controller="Home" asp-action="Reservation"> <span class="menu__link"> Бронь</span> </a> </li>
                <li> <a asp-controller="Menu" asp-action="Catalog"> <span class="menu__link"> Меню </span> </a> </li>
                @if (!ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    <li> <a asp-controller="Account" asp-action="Authorization"><span class="menu__link"> Личный кабинет </span> </a> </li>
                }
                else
                {
                    <li> <a asp-controller="LK" asp-action="Info"><span class="menu__link"> Личный кабинет </span> </a> </li>
                    if (User.IsInRole("employee"))
                    {
                        <li> <a asp-controller="Management" asp-action="Сontrol"><span class="menu__link"> Администрирование </span> </a> </li>
                    }
                    <li> <a asp-controller="Account" asp-action="Logout"><span class="menu__link"> Выйти </span> </a> </li>
                }
            </ul>
        </div>
    </div>
</header>

<main>
    @RenderBody()
</main>

<footer>
    <div class="but_fot">
        Бильярдный клуб «The White Horse» 2021
    </div>
</footer>    

<script type="text/javascript">shineLinks('top_menu');</script>
<script src="~/js/MenuScript.js"></script>
</body>
</html>