@model System.Collections.Generic.List<BilliardClub.Models.PoolTable>

<div class="management__block">
    @foreach (var poolTable in Model)
    {
        <h2>№@poolTable.name</h2>
        <hr />
        <div class="center">
            @if (poolTable.statusTables.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <td>Статус</td>
                            <td>Время начала</td>
                            <td>Время окончания</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var status in poolTable.statusTables)
                        {
                            <tr>
                                <td>@status.status.name</td>
                                <td>@status.dateStart</td>
                                <td>@status.dateEnd</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>

</script>