@model List<BilliardClub.Models.TypeTable>

<div class="management__block">
    <div class="">
        <div class="">
            <table>
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="">

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>

</script>