@model BilliardClub.View_Models.TypeTableAndRotationViewModel

<div class="">
    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>

</script>