@model List<BilliardClub.Models.PoolTable>
<link rel="stylesheet" href="~/css/management.css" type="text/css">

<div class="control">
    <div class="block1">
        <div class="content__block1">
            <div class="category-wrap">
                <h3>Пользователь: @User.Identity.Name</h3>
                <ul>
                    <li><a id="href_to_reserved_tables" href="">Забронированные столы</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="block2">
        <div class="content__block2">
            @await Html.PartialAsync("_ReservedTables", Model)
        </div>
    </div>
</div>

<script>
    $('#href_to_reserved_tables').css('background', 'linear-gradient(to bottom, #121111, #111111)');

    $('#href_to_reserved_tables').click(function (event) {
        $('li > a').css('background', '');
        $(this).css('background', 'linear-gradient(to bottom, #121111, #111111)');
        event.preventDefault();
        $('.content__block2').load("@Url.Action("_ReservedTables")");
    });
</script>