
<link rel="stylesheet" href="~/css/management.css" type="text/css">

<div class="control">
    <div class="block1">
        <div class="content__block1">
            <div class="category-wrap">
                <h3>Пользователь: @User.Identity.Name</h3>
                <ul>
                    <li><a id="href_to_order_confirm" href="">Подтверждение заказа</a></li>
                    <li><a id="href_to_order_history" href="">История</a></li>
                    <li><a id="href_to_account" href="">Аккаунт</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="block2">
        <div class="content__block2">
            
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/jquery.bpopup.min.js"></script>

<script>

</script>