<link rel="stylesheet" href="~/css/catalogstyle.css" type="text/css">


<div class="container__catalog">
    @for (int i = 0; i < 10; i++)
    {
        <div class="product-wrap">
            <div class="product-item">
                <img src="https://st.depositphotos.com/1003272/1632/i/600/depositphotos_16322913-stock-photo-red-apple.jpg">
                <div class="product-buttons">
                    <a href="" class="cart_button">В корзину</a>
                </div>
            </div>
            <div class="product-title">
                <a href="">Яблоко</a>
                <span class="product-price">₽ 1999</span>
            </div>
        </div>
    }
</div>