

<section>
    <div class="parallax p1">
        <h1>
            The White Horse
        </h1>
        <div class="mask"></div>
    </div>
</section>

<section>
    <div class="zone">
        <div class="inner">
            <div class="z v">
                <img src="/img/z1.png">
                <strong>VIP<br> зона</strong>
                <p>1 стол для бильярда в отдельной зоне - вашей игре ничего не сможет помешать!</p>
            </div>
            <div class="z p">
                <img src="/img/z2.png">
                <strong>зал для<br> профи</strong>
                <p>Отдельный зал для игроков с опытом где расположены 4 стола для русского бильярда</p>
            </div>
            <div class="z k">
                <img src="/img/z3.png">
                <strong>разнообразная<br> кухня</strong>
                <p>Русская, Европейская и Кавказская кухня, а так же в ассортименте напитки, пиво и закуски</p>
            </div>
            <div class="z a">
                <img src="/img/z4.png">
                <strong>пробковый<br> сбор</strong>
                <p>Вы можете посетить клуб со своим крепким алкоголем при наличии чека на купленный алкоголь</p>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="parallax p2">
        <h1>
            The White Horse
        </h1>
        <div class="mask"></div>
    </div>
</section>