
<div class="content__reservation">
    <div class="plan">
        <div class="table1 rusb row">
            <p>
                1
            </p>
        </div>
        <div class="table2 rusb row">
            <p>
                2
            </p>
        </div>
        <div class="table3 rusb col">
            <p>
                3
            </p>
        </div>
        <div class="table4 rusb col">
            <p>
                4
            </p>
        </div>
    </div>
</div>
