<div class="content__reservation">
    <div class="plan">
        <div class="table1 rusb row">
            <p>
                1
            </p>
        </div>
        <div class="table2 rusb row">
            <p>
                2
            </p>
        </div>
        <div class="table3 rusb col">
            <p>
                3
            </p>
        </div>
        <div class="table4 rusb col">
            <p>
                4
            </p>
        </div>
    </div>
</div>

<div id="element_to_pop_up">

    <span class="button b-close">
        <span>X</span>
    </span>

    <div class="center">
        <h2 id="number_table"></h2>
    </div>

    <div class="center">
        <button id="button__reserve"> </button>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/jquery.bpopup.min.js"></script>

@if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
{
    <script>
        $('.rusb').click(function() {
            var number = $(this).text();
            $('#element_to_pop_up').bPopup({
                onOpen: function() {
                    $('#number_table').text('Вы хотите забронировать этот столик (№ ' + number + ') ?');
                    $('#button__reserve').text('Забронировать');
                }
            });

            $('#button__reserve').click(function() {
                $.ajax({
                        url: '@Url.Action("AddToCartTable")',
                        data: number,
                        type: 'POST',
                        success: function() {
                            console.log(number);
                        }
                    })
                    .fail(function() {
                        console.log('Neura');
                    });
            });
        });
    </script>
}
else
{
    <script>
        $('.rusb').click(function () {
            var number = $(this).text();
            $('#element_to_pop_up').bPopup({
                onOpen: function () {
                    $(this).css('width', '700px');
                    $('#number_table').html('Бронирование бильярдных столов возможно только для авторизированных пользователей! <br/> <br/> Пожалуйста, войдите в личный кабинет.');
                    $('#button__reserve').css('margin-top', '50px');
                    $('#button__reserve').text('Войти');
                    $('#button__reserve').click(function() {
                        window.location.href = '@Url.Action("Authorization","Account")';
                    });
                }
            });
        });
    </script>
}