@model BilliardClub.Models.Cart
<link rel="stylesheet" href="~/css/lk.css" type="text/css">

<div class="lk">
    <div class="block1">
        <div class="content__block1">
            <div class="category-wrap">
                <h3>Пользователь: @User.Identity.Name</h3>
                <ul>
                    <li><a id="href_to_order_confirm" href="">Подтверждение заказа</a></li>
                    <li><a id="href_to_order_history" href="">История</a></li>
                    <li><a id="href_to_account" href="">Аккаунт</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="block2">
        <div class="content__block2">
            @await Html.PartialAsync("_Order", Model)
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/jquery.bpopup.min.js"></script>

<script>
    var button_style = { 'background': 'linear-gradient(to bottom, #121111, #111111)' };
    $('#href_to_order_confirm').css(button_style);

    $('.category-wrap a').each(function() {
        $(this).click(function() {
            $('li > a').css('background', '');
            $(this).css(button_style);
        });
    });

    $('#href_to_order_confirm').click(function (event) {
        event.preventDefault();
        $('.content__block2').load("@Url.Action("_Order")");
    });

    $('#href_to_order_history').click(function (event) {
        event.preventDefault();
        $('.content__block2').load("@Url.Action("_History")");
    });

    $('#href_to_account').click(function (event) {
        event.preventDefault();
        $('.content__block2').load("@Url.Action("_AccountSettings")");
    });
</script>