.lk {
    display: grid;
    grid-template-columns: 0.32fr 2fr;
    min-height: 84vh;
}

.block1 {
    background: #292929;
}

.block2 {
    background: linear-gradient(to bottom, #121111, #111111);
}

/* navigation */
.category-wrap {
    padding: 15px;
    background: #292929;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.category-wrap h3 {
    font-size: 16px;
    color: white;
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
}

    .category-wrap h3:after {
        content: "";
        width: 6px;
        height: 6px;
        background: #292929;
        position: absolute;
        right: 5px;
        bottom: 2px;
        box-shadow: -8px -8px white, 0 -8px white, -8px 0 white;
    }

.category-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0,0,0,.3);
}

.category-wrap li {
    margin: 12px 0 0 0px;
}

    .category-wrap a {
        border-radius: 10px;
        text-decoration: none;
        display: block;
        font-size: 13px;
        color: white;
        padding: 5px;
        position: relative;
        transition: .3s linear;
    }

    .category-wrap a:hover {
        background: linear-gradient(to bottom, #121111, #111111);
        color: white;
    }
/* navigation */


/* _Order */
.order__confirm__block {
    min-height: 84vh;
    padding-left: 30px;
    padding-top: 6px;
}

.table {
    width: 60%;
    border: none;
    margin-bottom: 20px;
}

    .table thead th {
        font-weight: bold;
        text-align: left;
        border: none;
        padding: 10px 15px;
        background: #292929;
        font-size: 14px;
    }

.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}

.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
}

.table tbody tr{
    background: #404040;
}


.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}

.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}


.quantity {
    position: relative;
    margin-left: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity input {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 41px;
}

.quantity-button {
    background: white;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
}

    .quantity-button.quantity-up {
        position: absolute;
        height: 50%;
        top: 0;
        border-bottom: 1px solid #eee;
        user-select: none;  
    }

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}

.remove__tr__table, .remove__tr__product {
    color: #fff;
    user-select: none;
    background: #292929;
    border-radius: 20px;
    padding: .7em 1.5em;
}

    .remove__tr__table:hover, .remove__tr__product:hover {
        background: black;
    }

#submit__order {
    text-decoration: none;
    color: white;
    background: #292929;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #f9e044, #f9e044, #f9e044, #f9e044);
    border-image-slice: 1;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

#submit__order:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}

#submit__order:hover {
    background: rgba(255, 255, 255, 0);
}

#submit__order:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}
/* _Order */


/* _History */
.order__history__block {
    min-height: 84vh;
    padding-left: 30px;
    padding-top: 6px;
}


/* _History */


/* AccountSettings */
.account__settings__block {
    min-height: 84vh;
    padding-left: 30px;
    padding-top: 6px;
    margin-bottom: 6px;
}

.account__settings__block {
    justify-content: center;
    align-items: center;
}

.input__style {
    height: 45px;
    width: 250px;
    color: #3B5983;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
    margin-top: 15px;
}

.input__style:focus {
    outline: none;
    border: 2px solid #C1D9FD;
}

.input__style:valid {
    border-color: greenyellow;
}

.input__style:invalid {
    border-color: orange;
}

.input__style:not(:focus):invalid {
    border-color: #C1D9FD;
}

.button {
    width: 250px;
    font-weight: bold;
    font-size: 14px;
    display: block;
    height: 45px;
    background: #247FFF;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #0D6CF2;
}
/* AccountSettings */