* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #121111, #111111);
    color: #ffffff;
    min-height: 100vh;
    scroll-behavior: smooth;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: -webkit-fill-available;
    background: black;
    font-family: 'Cormorant', serif;
    font-size: 23px;
    height: 74px;
    display: inline-block;
}

.but_fot {
    display: table;
    margin: auto;
    margin-top: 11px;
}


/*    parallax     */
.parallax {
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 60px;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
}

.p1{
    min-height: 93vh;
    background-image: url(/img/bill.jpg);
}

.p2{
    background-image: url(/img/billiards-wallpapers.jpg);
    min-height: 100vh;
}

.parallax .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 2;
}

.parallax h1 {
    font-family: 'Cormorant', serif;
    font-size: 100px;
    z-index: 3;
}
/*    parallax     */


/*    menu     */
header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    background: black;
}

.logo, .top_menu{
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.top_menu li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}

    .top_menu a {
        position: relative;
        display: block;
        text-decoration: none;
        vertical-align: middle;
        width: 100%;
        font-family: 'Cormorant', serif;
        font-size: 23px;
        color: #ffffff;
    }

.active span:before {
    content: '';
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f9e044;
    transform: scaleX(1);
}

.top_menu a:before {
    content: '';
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f9e044;
    transition: 0.3s;
    transform: scaleX(0);
}

.top_menu a:hover:before {
    transform: scaleX(1);
}

.logo h1 {
    vertical-align: middle;
    color: #ffffff;
}
/*    menu     */


/*    main     */
.inner {
    margin: 0 auto;
    max-width: 1700px;
    position: relative;
    padding: 0 15px !important;
   }

.zone .inner {
    display: flex;
}

.zone {
    display: flex;
    align-items: center; 
    min-height: 100vh;
}
.zone p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.z {
    display: flex;
    width: 25%;
    flex-direction: column;
    text-align: center;
    background-size: cover !important;
    margin-left: 25px;
    border-width:1;
    border-color: rgb(190,190,190);
    border-style: solid;
}

.z img {
    width: 163px;
    height: auto;
    margin: 30% auto 6%;
}

.z strong {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
}

.z p {
    font-size: 14px;
    font-weight: 300;
    padding: 5% 6% 10% 6%;
    background: url(/img/lin.png) no-repeat center top;
    margin-top: 15px;
}

.v {
    background: url(/img/fz1.png) no-repeat right top;
}

.p {
    background: url(/img/fz2.png) no-repeat right top;
}

.k {
    background: url(/img/fz3.png) no-repeat right top;
}

.a {
    background: url(/img/fz4.png) no-repeat right top;
}
/*    main     */


/*    Reservation     */
.content__reservation {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 70px;
    min-height: 160vh;
}

.plan {
    position: absolute;
    background-image: url(/img/3-plan-shema-kluba.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 1500px;
    height: 1500px;
    border-radius: 50px 50px 50px 50px;
}

.rusb, .poolb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
}

    .rusb:hover, .poolb:hover {
        filter: brightness(120%);
    }

    .rusb p, .poolb p {
        user-select: none;
        font-size: 25px;
    }

#element_to_pop_up, #pop_up_change_password, #pop_up_change_email{
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    width: 350px;
    height: 250px;
    padding: 25px;
}

.button {
    background-color: #2b91af;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.button.b-close {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}

#button__reserve {
    margin-left: 5px;
    padding: 7px;
    height: 70px;
    color: snow;
    background: #404040;
    width: 200px;
    font-size: 20px;
    box-shadow: 0 2px 3px rgba(1,5,1,0.3);
    font-weight: bold;
    border-radius: 10px;
}

    #button__reserve:hover {
        background: #292929;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

.account__settings__block p {
    font-size: 20px;
}

#date_reservation {
    margin-top: 15px;
    width: 190px;
    border-radius: 5px;
    padding: 5px;
}
/*    Reservation     */